@font-face {
      font-family: "Avenir";
      src: url("./fonts/Avenir.ttf") format("truetype");
     }

* {
      font-family: Avenir;
}

.app-container {
      background-image: url('./images/background.jpg');
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
}

.energy-container {
      border-radius: 16px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 20px 0px;
      margin: 10px;
      padding: 10px;
      display: flex;
      flex-direction: column;
}

.meters-data-container {
      width: 80vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
}

.energy-data-container {
      width: 80vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
}

.meters-data-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.meters-data-div  p, .meters-data-div  h2 {
      color: #fff;
}

.array-line {
      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
}

/*COLORS */

.white {
      background-color: #fff;
}

.green {
      background-color: #00ab99;
}

.soft-yellow {
      background-color: #fff5e6;
}

.hard-yellow {
      background-color: #e68d00;
}