/* general settings */

@font-face {
      font-family: "Avenir";
      src: url("./fonts/Avenir.ttf") format("truetype");
     }

* {
      font-family: Avenir;
}

/* button settings */

button {
      border: 0;
      border-radius: 16px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 20px 0px;
      margin: 30px 0px;
      padding: 20px;
      font-size: 16px;
      font-weight: 800;
      color: #fff;
}

/* select settings */

.custom-select {
      position: relative;
      font-family: Avenir;
    }
    
    .custom-select select {
      display: inline-block;
    }
    
    .select-selected {
      background-color: #fff5e6;
      border-radius: 5px;
      margin: 20px 0px 15px 0px;
      font-size: 16px;
    }
    

    .select-selected:after {
      position: absolute;
      content: "";
      top: 14px;
      right: 10px;
      width: 0;
      height: 0;
    }
    

    .select-selected.select-arrow-active:after {
      border-color: transparent transparent #fff transparent;
      top: 7px;
    }
    

    .select-items div,.select-selected {
      color: #ffb135;
      padding: 8px 16px;
      border: 1px solid transparent;
      border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
      cursor: pointer;
    }
    

    .select-items {
      position: absolute;
      background-color: #fff;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 99;
    }
    
    .select-hide {
      display: none;
    }

/* App settings */

#logo {
      margin: 20px 0px 10px 0px;
      width: 250px;
}

.app-container {
      background-image: url('./images/background.jpg');
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
}

.energy-container {
      border-radius: 16px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 20px 0px;
      margin: 30px 0px;
      width: 50vw;
      max-height: 60vh;
      overflow: auto;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}

@media (max-width: 765px) {
      .energy-container {
            width: 90vw;
      }
}

.energy-container::-webkit-scrollbar {
      display: none;
    }

.meters-data-div {
      border-radius: 16px 16px 0px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 200px;
}

.meters-data-div  div,  .meters-data-div  h2 {
      color: #fff;
}

.meters-data-div  div {
      margin: 5px 0px;
      color: #fff;
}

.meters-data-div  h2 {
      margin-bottom: 0px;
}

.meters-data-div  img {
      margin-top: 0px;
}

.energy-data-div {
      border-radius: 0px 0px 16px 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
}

.array-line {
      background-color: #fff5e6;
      border-radius: 16px;
      width: 90%;
      padding: 10px;
      margin: 10px 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
}

.block-line {
      color:  #ffb135;
      border-radius: 16px;
      margin: 2px;
      padding: 10px;
      text-align: center;
}

/*colors */

.white {
      background-color: #fff;
}

.green {
      background-color: #00ab99;
}

.soft-yellow {
      background-color: #fff5e6;
}

.hard-yellow {
      background-color: #ffb135;
}